<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>简单计算器-vue.js</title>
</head>
<body>
   <div id="app">
     <div>
        <input type="text" v-model="username" placeholder="请输入姓名">
        <br>
        <input type="text"  v-model="age" placeholder="请输入年龄">
        <br>
        <input type="text"  v-model="favorite" placeholder="请输入兴趣爱好">
        <br>
        <button @click="addInfo">增加</button>
     </div>
     <table border="1">
         <thead>
           <tr>
             <th>编号</th>
             <th>姓名</th>
             <th>年龄</th>
             <th>兴趣爱好</th>
             <th>操作</th>
           </tr>
         </thead>
         <tbody >
           <template v-if ="info.length !== 0">
             <tr v-for="(item,index) in info">
              <td>{{index + 1}}</td>
              <td>{{item.username}}</td>
              <td>{{item.age}}</td>
              <td>{{item.favorite}}</td>
              <td><a href="#" @click="removeInfo(index)">删除</a></td>
            </tr>
           </template>
          <template v-else>
            <tr>
              <td colspan="5">没有任何内容</td>
            </tr>
          </template>
         </tbody>
     </table>
   </div>
   <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
   <script type="text/javascript">
     var app = new Vue({
       el: '#app',
       data: {  // 以数据为中心， 数据改变，界面就跟随改变
          username: '',
          age: null,
          favorite: '',
          info:[]
       },
       methods: {
         removeInfo: function(index){
            this.info.splice(index, 1)
         },
         addInfo: function(){
           var obj = {
             username: this.username,
             age: this.age,
             favorite: this.favorite
           }
           this.info.push(obj)
           this.clearData()
         },
         clearData: function(){
           this.username = ''
           this.age = null
           this.favorite = ''
         }
       }
     })
   </script>
</body>
</html>
