<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>内容的增删改查</title>
  <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div id="app">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="form-group">
            <label>姓名</label>
            <input type="text" class="form-control"  @keyup.enter="goDom('age', $event)" v-model="username" placeholder="请输入姓名">
          </div>
          <div class="form-group">
            <label>年龄</label>
            <input type="number" class="form-control" ref="age" @keyup.enter="goDom('fav', $event)" v-model.number="age" placeholder="请输入年龄">
          </div>
          <div class="form-group">
            <label>兴趣爱好</label>
            <input type="text" class="form-control" ref="fav" @keyup.enter="addInfo" v-model="favorite" placeholder="请输入兴趣爱好">
          </div>
          <div class="form-group">
            <button class="btn"  :class="{'btn-success': isComplete}"  v-html="title" @click="addInfo"></button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <table class="table table-bordered" >
            <thead>
              <tr>
                <th>编号</th>
                <th>姓名</th>
                <th>年龄</th>
                <th>兴趣爱好</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <template v-if="info.length !== 0">
                <tr v-for="(item,index) in info">
                  <td>{{index + 1}}</td>
                  <td>{{item.username}}</td>
                  <td>{{item.age}}</td>
                  <td>{{item.favorite}}</td>
                  <td><a href="#" @click="removeInfo(index)">删除</a></td>
                </tr>
              </template>
              <template v-else>
                <tr>
                  <td colspan="5">没有任何内容</td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>

      </div>

    </div>
  </div>

  <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: { // 以数据为中心， 数据改变，界面就跟随改变
        username: '',
        age: null,
        favorite: '',
        info: [],
        dom: '',
        title: '等待',
        isMark: false
      },
      created: function(){
        this.getData();
      },
      computed: {
        isComplete: function() {
            if (this.username==='' || this.age === null || this.favorite === ''  ) {
              this.title = "等待"
              return false
            } else {
              this.title = "添加"
              return true
            }
        }
      },
      methods: {
        goDom: function(dom,event){
           this.$refs[dom].focus()
        },
        removeInfo: function(index) {
          if (window.confirm('该操作将删除指定的内容，是否继续')){
            this.info.splice(index, 1)
            this.save()
          }
        },
        addInfo: function(e) {

          var obj = {
            username: this.username,
            age: this.age,
            favorite: this.favorite
          }
          if (obj.username==='' || obj.age === null || obj.favorite === '' ){
            alert('内容填写不完整，请重新填写')
            return false;
          }
          this.info.push(obj)
          this.save()
          this.clearData()
        },
        save: function(){
          var info = JSON.stringify(this.info)
          localStorage.setItem('info', info)
        },
        clearData: function() {
          this.username = ''
          this.age = null
          this.favorite = ''
        },
        getData: function(){
          var info = window.localStorage.getItem('info')
          if (info !== null) {
            this.info = JSON.parse(info)
          }
        }
      }
    })
  </script>
</body>

</html>
